:root {
  --cor-headline: #FFFFFE;
  --cor-ternary: #A786DF;
  --cor-secondary: #D9D4E7;
  --cor-background-dark: #0E172C;

}

.cor-0 {
  color: var(--cor-headline);
}
.cor-1 {
  color: var(--cor-ternary);
}
.cor-2 {
  color: var(--cor-secondary);
}
.cor-3 {
  color: var(--cor-background-dark);
}
