.formacao {
  background-color: var(--cor-headline);
}

.formacao-container {
  max-width: 1200px;
  padding: 60px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 60px;
  position: relative;
}

.decoracao-titulo {
  grid-column: 1/3;
}

.formacao-texto {
  font-size: 1.125rem;
  line-height: 1.33;
  margin-bottom: 40px;
  max-width: 40ch; /* maximo de 40 caracteres */
  color: var(--cor-background-dark);
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.faculdade {
  flex: 1;
  background: var(--cor-background-dark);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--cor-ternary);
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#a786df, #fec7d7);
  position: absolute;
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
  text-transform: uppercase;
}

.cursos {
  /* flex: 1; */
  background: var(--cor-background-dark);
  border-radius: 5px;
  font-weight: 500;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.cursos::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#a786df, #fec7d7);
  position: absolute;
  left: -4px;
  top: 25%;
}

.cursos li {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  color: var(--cor-ternary);
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 20px;
}

.idiomas {
  background: var(--cor-background-dark);
  border-radius: 5px;
  font-weight: 500;
  padding: 20px;
  position: relative;
}

.idiomas::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#a786df, #fec7d7);
  position: absolute;
  left: -4px;
  top: 50%;
}

.formacao-extra span {
  color: #8f8f8f;
  justify-content: space-between;
  gap: 10px;
}

/* @media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .formacao .subtitulo {
    color: #fff;
  }

  .formacao-texto {
    font-size: 1.25rem;

  }

  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
} */
