.about {
  background: #0e172c;
}

.about-container {
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 60px;
}

.about-container img {
  grid-column: 1;
}

.decoracao-titulo {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.96px;

  /* peguei do figma :) */
  background: var(
    --linear-ternary-25,
    linear-gradient(
      180deg,
      rgba(167, 134, 223, 0.25) 0%,
      rgba(217, 212, 231, 0.25) 91.77%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-container h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.about-container p {
  font-size: 1.25rem;
  padding-bottom: 20px;

}

.sub-about {
  font-size: 1.25rem;
}

.sub-about + p {
  font-size: 1rem;
  color: rgb(188, 188, 188);
}
                  
.about-options {
  display: flex;
  gap: 40px;
  align-items: center;
}

.about-options ul {
  display: flex;
  gap: 30px;
}

.btn-download {
  padding: 12px 24px;
  background: #A786DF;
  border-radius: 5px;
  margin-left: auto;

  font-weight: bold;
  font-size: 1.5;
  text-transform: uppercase;
}
.centro {
margin: auto 0 auto 0;
}

@media (max-width: 1000px) {
  .btn-download {
    padding: 10px 16px;
  }
  .decoracao-titulo {
    font-size: 3rem;
  }
  .about-container h1 {
    padding-bottom: 10px;
  }
  
  .about-container p {
    font-size: 1.2rem;
    padding-bottom: 20px;
  }
}